{% extends 'index.html' %}

{% block title%}
About
{% endblock%}

{% block content %}
<h3>About Us</h3>
<p>Liaad is a website that monitoring vacancies from all the universities and research institutions. The data is being updated in minute level.</p>
<p>All the data are directly gotten from the origin source, no third parties.</p>
<p>This website is fully accessible for free registered users. In addition, user could choose a premium membership. By paying annual fee, user could define several keywords. When a job post contains the keywords appeared in the internet, users could get email notification within few minutes.</p>

<h3> About Liaad</h3>
<p>Liaad comes from a lyric 'life is about a dream'</p>
<p>During my master study, I tried very hard to but still find that I am no more than a very normal student. After graduation I quickly gave up my PhD plan and find a job.</p>
<p>Though I am not a research person, I would still like to use my strength, programing, to help people who want to go further as a researcher.</p>
<br>
<p>'Life is about a dream', came from a children's song: </p>
<p><i>Row row row your boat, </i></p>
<p><i>Gentlely on the stream,</i></p>
<p><i>Merrily, merrily, merrily, merrily</i></p>
<p><i>Life is about a dream</i></p>
<br>
<p>Take it easy and good luck!</p>
<p>Xing Fu</p>
{% endblock%}