{% extends 'index.html' %}

{% block title%}
Liaad.nl
{% endblock%}

{% block custom_js %}
    <script type="text/javascript">
        //收藏
        function add_fav(current_elem, blog_id, user_id){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'collect_blogs' %}",
                data:{'blog_id':blog_id, 'user_id':user_id},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
                        if(data.msg == 'not_logged'){
                            window.location.href="{% url 'register' %}";
                        }else{
                            current_elem.text(data.msg)
                        }

                    }else if(data.status == 'success'){
                        current_elem.text(data.msg)
                    }
                },
            });
        }


    </script>
{% endblock %}

{% block content %}
<h3> {{heading}}</h3>
<hr>
<table  cellspacing="0" cellpadding="0"  valign="middle">
    {% for blog in blogs.object_list %}
    <tr>
        <td><p><a href="{% url 'blog_detail' blog.pk %}"><h3>{{ blog.title }} </h3></a></p></td>
    </tr>
    <tr>
        <td align="left">
            <p>
               <a> {{blog.university}} | </a>
                <a>{{blog.country}} | </a>
                <a>{{blog.region}} | </a>
            <i>{{blog.create_time}}</i>
                <button onclick="add_fav($(this), {{ blog.pk }}, {{user.pk}})"> save now </button>
            </p></td>
    </tr>
    {% endfor %}
</table>

<div>
    <ul class="pagination">
    <li><a href="?page=1">&laquo;</a></li>
         {% for page_num in blogs.paginator.page_range %}
            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
         {% endfor %}
    <li><a href="?page={{blogs.paginator.num_pages}}">&raquo</a></li>
</ul>

</div>

{% endblock%}

